* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    background-color: rgb(0, 144, 127);
    padding: 15px 0 15px 0;
    position: fixed;
    top: 0;
    z-index: 2;
}

header h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hero {
    background-image: url(./assets/3a76692b3512ad3fde555a08e8065394.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;



}

.hero h1{
    color: white;
    z-index: 1;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.hero::before{
    background-color: rgba(0, 0, 0, 0.84);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
}

.graph_overview{
    padding: 20px;
}

.graph_overview h1{
    color:rgba(255, 0, 0, 0.839);
    font-size:30px;
}


.graph_overview article{
    margin-top: 10px;
    font-size: 20px;
}

.serv_overvi_gra{
    background-color: aqua;
    padding: 20px;
}

.serv_overvi_gra h1{
    color:rgba(255, 0, 0, 0.839);
    font-size: 30px;
}

.serv_overvi_gra article{
    margin-top: 10px;
    font-size: 20px;

}

.choose_us{
    padding: 20px;

}

.choose_us h1{
    color:rgba(255, 0, 0, 0.839);
    font-size: 30px;

}

.choose_us article{
    margin-top: 10px;
    font-size: 20px;
 

}

.sample{
    background-color: aqua;
    padding: 10px;
    margin-top: 10px;

}

.sample h1{
    text-align: center;
    color:rgb(255, 0, 0);
    font-size: 30px;

}


.Sitem{
    padding: 15px;
    border-radius: 10px;
}

.Sitem img{
    width: 300px;

}

.Sitem h3{
    text-align: center;
    font-size: x-large;
    color:rgba(255, 0, 0, 0.839);

}

.sampleItems{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 8px;

}

.intouch{
    padding: 20px;


}

.intouch h1{
    color:rgba(255, 0, 0, 0.839);
    font-size: 30px;
}

.intouch article{
    margin-top: 10px;
    font-size: 20px;
    
}

.contact {
    background-color: rgb(36, 32, 32);
    padding: 50px;
}

.contact ul {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 80px;
}

.contact ul li{
    font-size: 20px;
    color: white;
}

.call img {
    width: 50px;
    border-radius: 50%;
}



.whatsApp img {
    width: 50px;
    border-radius: 50%;
}



.facebook img {
    width: 50px;
    border-radius: 50%;
}



.tiktok img {
    width: 50px;
    border-radius: 50%;
}


.email img {
    width: 50px;
    border-radius: 50%;
}

footer small {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    padding-top: 20px;
    padding-bottom: 20px;
}


.scroll{
    animation: bounce 1s ease-in-out infinite;
    line-height: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white; 
}

@keyframes bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}



/*
.scroll{
    animation: scroll 10s linear infinite;
    line-height: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    
}

@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
*/










/* Mobile responsive syling */
@media (max-width: 480px) {
    header h1{
        font-size: 35px;
    }

    .graph_overview{
        padding: 20px;
    }


   .sample h1{
    text-align: center;
    font-size: 30px;

   }


   .serv_overvi_gra h1 {
    font-size: 25px;
   }

   .sampleItems{
    gap: 0px;
    }

    .graph_overview article,
    .serv_overvi_gra article,
    .technologies article,
    .choose_us article,
    .intouch article {
        font-size: 20px;
    }

    .contact ul{
        gap: 20px;
    }

    
}


/* Tablet responsive syling */
@media (min-width: 481px) and (max-width: 768px) {
    header h1{
        font-size: 40px;
    }


    .sample h1{
        text-align: center;
        font-size: 30px;
    
    }
    
    .sample span h3{
        text-align: left;
        font-size: 17px;
        margin-top: 10px;
    }

    .graph_overview{
        padding: 20px;
    
    
    }

    .sampleItems{
        gap: 10px;
    }

    .Sitem img{
        width: 400px;
    }




}

/* Desktop or Laptop responsive syling */
@media (min-width: 769px) {}